#listPicture,#listPicture1{
    list-style-type: none;
    display: inline-block;
}
#listPicture li,#listPicture1 li{
    display: inline-block;
    width:30%;
    height:180px;
    padding-bottom: 10px;
}
#listPicture li img
.blokovi{
    padding-bottom: 10px;
}
.pictureLabel{
    padding: 10px;
    background: #F7941D;
    display: table;
    color: white;
    border:1px solid #F7941D;

}
.pictureLabel :focus
.pictureLabel:hover {
    background-color: red;
}
.pictureLabel {
    cursor: pointer; /* "hand" cursor */
}

input[type="file"] {
    display: none;
}
#modalPromocija
{
    list-style-type: lower-latin;
    display: inline-block;


}

#modalPromocija li{
    display: inline-block;
    width: 100%;
}
.clip_list li {
    display: inline-block;
    clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 15% 50%, 0% 0%);
    height: 40px;
    width: 21%;
    color:white;
    background: #F7941D;
    text-align: center;
    padding-top: 7px;
   cursor: pointer;
    caret-color: red;
}


.clip_list{
    width:90%;
    margin-bottom: 15px;
}
.clip_list :first-child{
    clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0% 50%, 0% 0%);
    text-align: left;
}
.clip_list li a {
    clip-path: none!important;
}
.shop .nice-select{

    margin-top: 15px;
    margin-right: 6px;
}
form .section_new {
    display: none;
}
 form .activeSection{
     display: block;
 }
.cheat{

    background-color: #5e5e5e;
    color:#000;
    font-weight: bold;
}
table tr td{
    padding-bottom: 15px;
    width: 30%;
    margin-right: 20px;
}
table tr td label{
    width:60%;
}
table tr td input{
    width:97%;
}
#form_insert:hover{
    background:#F7941D!important;
    border-color: #F7941D!important;
}
form #section_fourthStep div label{

    position: absolute;
    left: 20px;
    text-align:center;
}
form #section_fourthStep div input[type=text]{
    width: 100%;
    height: 45px;
    padding-top: 10px;
    padding-left: 15%;
}
form{
    width: 90%;
}
form #section_fourthStep div input[type=checkbox]
{
height: auto;
}
.promotion_none{
    display: none!important;
}
.promotion_new{
    background-color: #F7941D;
}
.backupPicture{
    cursor: pointer;
}


